.nav {
	background-color: white;
}

.nav li {
	display:inline;
}

.nav a {
	padding-right: 15px;
	font-size: 14px;
	color: #5a5a5a;
	text-transform: uppercase;
	font-family: Helvetica;
	text-decoration: none;
}

.jumbotron {
	background-image: url("https://unsplash.imgix.net/photo-1424746219973-8fe3bd07d8e3?q=75&fm=jpg&w=1080&fit=max&s=1540f8eba1e1efc938d0b00e0c16b86c");
	width:auto;
	height: 450px;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;

}

#actingPic {
	height: 450px;
	width: auto;
	}

#designPic {
	height: 450px;
	position: relative;
}

#aboutPic {
	height: 450px;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
}

.jumbotron .container-fluid h2 {
	color: white;
	font-family: Helvetica;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: lighter;
	display: none;
}

.jumbotron .container-fluid {
	position: absolute;
	top: 85%;
}

.aboutRow {
	background-color: rgba(216, 223, 223, 0.78);
	height: 450px;
}

.footer .container-fluid {
	text-align: right;
	clear:both;
}

body {
	padding-top: 8px;
	padding-bottom: auto;
}

button {
	clear: right; 
	display: none;
}


.box{
  overflow: auto;
  height: 450px;
}

.box p {
	display: none;
}

img {
    display: none;
    margin-right: -30px;
    }
    